<div class="grid grid-cols-4 gap-4 p-4 bg-gray-50 rounded-lg shadow-md">
  <% beer_styles.each do |style| %>
    <div class="p-4 bg-gray-500 rounded shadow cursor-pointer hover:bg-gray-200 transition"
         data-action="click->beer-styles#showBeerStyle"
         data-style-id="<%= style.id %>">
      <%= style.name %>
    </div>
  <% end %>
</div>
