<div class="mx-auto px-16 py-6 mb-10" data-controller="beer-types beer-styles">
  <div class="flex flex-row mx-auto gap-4 items-center justify-between">

    <div class="text-2xl">
      <h1 class="text-2xl w-60">Learn about</h1>
      <div class="relative overflow-hidden h-8">
        <span data-beer-types-target="beerText"
              class="transition-all opacity-100 duration-500 ease-out block">
          any Beer Type
        </span>
      </div>
    </div>

    <div class="p-10 grid grid-cols-7">

      <% @beer_types.each do |beer_type| %>
        <div
          data-action="click->beer-styles#showList mouseenter->beer-types#beerTypeHover mouseleave->beer-types#beerHoverLeave"
          data-beer-type-id="<%= beer_type.id %>"
          data-beer-type-name="<%= beer_type.name %>"
          data-beer-type-description="<%= beer_type.description %>"
          class="p-4 rounded-lg shadow-lg flex items-center justify-center transition hover:bg-gray-200 cursor-pointer">
          <%= inline_svg_tag beer_type_icon(beer_type.name), class: "beer-icon" %>
        </div>
      <% end %>

    </div>
  </div>


  <div data-beer-styles-target="beerTypeData" class="">

  </div>

  <div data-beer-styles-target="beerStylesList" class="mt-8 grid grid-cols-4 gap-4 p-4 bg-gray-50 rounded-lg shadow-md items-center "></div>
  <div data-beer-styles-target="infoCard"></div>


</div>
