<div class="mx-auto px-16" data-controller="beer-types beer-styles">
  <h1 class="text-4xl font-bold text-center my-2 mb-10">Welcome to the Beer Style Catalog</h1>

  <div class="flex flex-row items-center transition-all duration-1000 ease-in-out">

    <div data-beer-styles-target="contentContainer" class="content-container flex flex-col mx-auto items-center justify-between transition-all duration-1000 ease-in-out">

      <div class="text-2xl flex justify-center items-center gap-1 pl-25">
        <h1 class="w-auto whitespace-nowrap">Familiarize yourself with</h1>
        <div class="relative h-8 w-40 text-center overflow-hidden">
          <span data-beer-types-target="beerText"
                class="transition-all opacity-100 duration-500 ease-out block text-left">
            any Style
          </span>
        </div>
      </div>

      <div class="p-5 grid grid-cols-7">

        <% @beer_types.each do |beer_type| %>
          <div class="p-1">

            <div
              data-action="click->beer-styles#showList mouseenter->beer-types#beerTypeHover mouseleave->beer-types#beerHoverLeave"
              data-beer-type-id="<%= beer_type.id %>"
              data-beer-type-name="<%= beer_type.name %>"
              data-beer-type-description="<%= beer_type.description %>"
              class="beer-type">
              <%= inline_svg_tag beer_type_icon(beer_type.name), class: "beer-icon" %>
            </div>

          </div>
        <% end %>
      </div>

      <div data-beer-styles-target="beerTypeData" class="opacity-0 scale-95 transition duration-1200 ease-in-out"></div>
      <div data-beer-styles-target="beerStylesList" class="mt-8 opacity-0 scale-95 transition duration-2500 ease-in-out"></div>

    </div>

    <div data-beer-styles-target="infoCard" class="info-card ml-15 opacity-0 scale-95 transition-all duration-900 ease-in-out">
    </div>

  </div>
</div>
